p {
  margin-bottom: 0;
}
ul {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  grid-gap: 0 15px;
  justify-content: center;
}
.BadgesList {
  display: flex;
  width: 100%;
}
.BadgesList ul > li {
  margin-bottom: 1rem;
}

.BadgesListItem {
  background: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);
  border-radius: 5px;
  display: flex;
  padding: 1rem;
  justify-content: space-evenly;
}
.BadgesListItem a {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.BadgesListItem__avatar {
  border-radius: 50%;
  background: #a3a3a3;
  margin-right: 0.5rem;
  width: 80px;
  height: 80px;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.logoTwitter {
  width: 25px;
}
